/*
 *
 *      Tags
 *
 */

html, body
{
    height: 100%;
    padding: 0;
    overflow: hidden;
    margin: 0;
    font-family: "Courier New", serif;
}

input[type="file"] {
    display: none;
}

/*
 *
 *      Id's
 *
 */

#content
{
    height: 100%;
    display: flex;
}

#left
{
    flex: 50%;
    background: white;
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
    padding: 1% 1% 5%;
}

#right
{
    flex: 50%;
    background: yellow;
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
    padding: 1% 1% 5%;
}

#line
{
    position: absolute;
    z-index: 9;
    width: 100%;
}



#lineheader
{
    cursor: move;
    z-index: 5;

    border: none;

    background-color: rgba(255, 127, 80, 1);

    overflow: hidden;

    width: 100%;
    height: 3px;
}

#hamburger
{
    display: inline;
    bottom: 0;
}

#left-bar
{
    margin-left: 5%;
}

#right-bar
{
    margin-left: 20%;
}

#web-content
{
    position: absolute;
    background-color: rgba(0,0,0,0.75);

    height: 0;
    width: 65%;

    overflow: scroll;
    overflow-x: hidden;

    margin-left: 17.5%;
    margin-right: 17.5%;
    bottom: 46px;
    padding: 0;

    transition: height 1s;
    z-index: 5;
}

#web-content p, h3
{
    color: white;
    cursor: pointer;
    padding: 1%;
}

#web-content p:hover
{
    background-color: #ccc;
}


/*
 *
 *      Classes
 *
 */


/***     Main       ***/

*
{
    box-sizing: border-box;
}

.hide
{
    visibility: hidden;
}

.thick {}

.colored {}


/***     Footer     ***/

.footer
{
    height: 5%;
    width: 100%;

    padding: 0;
    margin: 0;

    background-color: rgba(0, 0, 0, 0.25);
    color: white;

    position: fixed;

    left: 0;
    bottom: 0;
}

.files
{
    display: flex;
    padding: 1%;
}

.files-bar
{
    background-color: rgba(0, 0, 0, 0.5);
}

.custom-file-upload
{
    background-color: coral;
    display: inline-block;
    padding: 1% 2%;
    cursor: pointer;
}

.footer-image
{
    float: right;
    max-width: 5%;
    height: auto;
    cursor: pointer;
    z-index: 5;
}

.sidemenu
{
    z-index: 100;
    position: fixed;
    display: inline;
}

.sidebar
{
    width: 300px;
    height: 0px;
    position: fixed;
    bottom: 46px;
    left: 0;
    background-color: rgba(0,0,0,0.75);
    overflow-x: hidden;
    overflow-y: hidden ;
    transition: 0.3s;
    padding-top: 0;
    padding-bottom: 0;
}

.sidebar a
{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover
{
    color: #f1f1f1;
}

.sidebar .closebtn
{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn
{
    font-size: 30px;
    cursor: pointer;
    background-color: rgba(0,0,0,0);
    padding: 1%;
    margin: 0;
    color: white;
    border: none;
    position: absolute;
}

.openbtn:hover
{
    background-color: #444;
}