/*
 *
 *      Tags
 *
 */

html, body
{
    height: 100%;
    padding: 0;
    overflow: hidden;
    margin: 0;
    font-family: "Courier New", serif;
}

input[type="file"] {
    display: none;
}

/*
 *
 *      Id's
 *
 */

#content
{
    height: 100%;
    display: flex;
}

#left
{
    flex: 50%;
    background: white;
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
    padding: 1% 1% 5%;
}

#right
{
    flex: 50%;
    background: yellow;
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
    padding: 1% 1% 5%;
}

#line
{
    position: absolute;
    z-index: 9;
    width: 100%;
}

#lineheader
{
    cursor: move;
    z-index: 10;

    border: none;

    background-color: rgba(255, 127, 80, 1);

    width: 100%;
    height: 3px;
}


/*
 *
 *      Classes
 *
 */


/***     Main       ***/

*
{
    box-sizing: border-box;
}

.hide
{
    visibility: hidden;
}


/***     Footer     ***/

.footer
{
    height: 5%;
    width: 50%;

    padding: 0;
    margin: 0;

    background-color: rgba(0, 0, 0, 0.25);

    position: fixed;

    left: 0;
    bottom: 0;
}

.files
{
    background-color: rgba(0, 0, 0, 0.75);
    margin-left: 2%;
    margin-right: 2%;
    width: auto;
}

.custom-file-upload {
    background-color: coral;
    display: inline-block;
    padding: 1% 2%;
    cursor: pointer;

    margin-top: auto;
    margin-bottom: auto;
}